<!DOCTYPE html>
<html>
<head>
    <title>Tutorial: Service Chooser Form.</title>
    
    <!-- CSS Link -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
<!--
        <header>
            <h1>My Services</h1>
        </header>
-->
        
        <form id="main" method="post">
            <h1>My Services</h1>

            <ul id="services">
                <!-- The services will be inserted here -->
            </ul>

            <p id="total">total: <span>$0</span></p>

            <input type="submit" id="order" value="Order" />
        </form>
        
        <footer>
            <p>Copyright &copy; 2013 <strong>Service Chooser Form</strong>.</p> <!-- This is only for educational purposes; there is no copyright -->
        </footer>
        
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script> <!-- jquery library -->
        <script type="text/javascript" src="http://underscorejs.org/underscore.js"></script> <!-- Underscore 'Backbone' Library -->
        <script type="text/javascript" src="http://backbonejs.org/backbone.js"></script> <!-- Backbone Library -->
<!--        <script type="text/javascript" src="../controller/js/main.js"></script>-->
        <script type="text/javascript" src="../controller/js/script.js"></script>
        
        <!-- Code used from this site: http://tutorialzine.com/2013/04/services-chooser-backbone-js/ -->
    </div> <!-- Closes "container" div -->
</body>
</html>