/*
    Name: Jairo Jurado
    Date: 12/03/2013
    Assignment: Table-Create
*/

/* -------------------- Universal -------------------- */
hr {
    color: #e58833;
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

/* -------------------- Landing Page -------------------- */
#landing-words {
    font-family: 'Pompiere', cursive;
    font-size: 24pt;
    float: left;
    color: #6b6a6a;
}

#landing-words p {
    margin: 6% 15% 15% 58%;
    text-align: right;
}

#landing-pic {
    margin: 2% 30% 0 0;
}

#landing-body-box {
    margin: 5% 0 5% 0;
}

#landing-button {
    font-family: 'Lobster Two', cursive;
    width: 30%;
    height: 56px;
    background-color: #c96e23;
    font-size: 20pt;
    color: #fff;
    clear: both;
    margin-left: 35%;
    margin-bottom: 5%;
}

/* -------------------- Footer -------------------- */
footer {
    font-family: 'Pompiere', cursive;
    color: #e58833;
    text-align: center;
    font-size: 14pt;
}