<!DOCTYPE html>
<html>
<head>
    <title>CNN MVC Division</title>
    
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
    <div id="container">
        <header>
            <h1></h1>
            <h2>Header</h2>
        </header>
        
        <nav>
            <h2>Nav</h2>
        </nav>
        
        <div id="body-wrapper">
            <section id="body-left">
                <h2>Body</h2>
            </section> <!-- Closes "body-left" div -->
            
            <aside id="goodies">
                <h2>Goodies</h2>
            </aside>
            
            <section id="body-section">
                <h2>Optional Section</h2>
            </section>
            
            <footer>
                <h2>Footer</h2>
            </footer>
        </div>
    </div>
</body>
</html>