<!DOCTYPE html>
<html>
<head>
    <title>Table-Create | Simple. Easy.</title>
    
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <header>
            <h1><img src="../images/logo.jpg" /></h1> <!-- Escape Hatch -->
            <hr />
        </header>
    </div> <!-- Closes "container" div -->
</body>
</html>